
# R-related files

*.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Temporary files
*.log
*.tmp

# System files
.DS_Store       # macOS
Thumbs.db       # Windows


# template items
_brand.yml
_quarto.yml
custom.scss
partials/
sanbi.csl
.quarto/

#rendered items
quarto/*.html
quarto/**/*.html
quarto/**/libs
quarto/**/figure-html
